body {
  font-family: MuseoSans-500, 'Doppio One', sans-serif;
  background: #003a6b;
}

#banner {
  color: #fff;
  background-color: #003a6b;
  width: 100%;
  line-height: 1.1;
}

#title {
  font-size: 30pt;
  padding-left: 8px;
}

#sub {
  font-size: 10pt;
  display: block;
  position: relative;
  left: 54px;
  top: -8px;
  width: 248px;
}

#komodocredit {
  font-size: 8pt;
}