/* @override 
	http://poi.local/css/main.css
*/
#masthead {
  padding-top: 36px;
  text-align: center;
}

#motto {
  font-size: 24pt;
  margin: 48px 24px 24px;
}

#content {
  margin: 0 48px 0 48px;
}

a:link, a:visited {
  color: #26355B;
}

#subx {
  font-size: 12pt;
  font-weight: normal;
  /*font-style: italic;*/
}

.bar {
  width: 336px;
  vertical-align: top;
  display: inline-block;
}

@media only screen and (max-width: 640px) {
  body {
    margin: 4px;
  }
  #banner {
    background-image: url(../graphics/logo_banner_sm.png);
    padding-top: 48px;
  }
  #badge {
    font-size: 12pt;
    position: relative;
    bottom: 12px;
  }
  .bar {
  	width: 100%;
  	display: block;
  }
  #sub {
    font-size: 10pt;
  }
}

.bar h4 {
  text-align: center;
  color: #fff;
  background-color: #26355B; /*#475a6b;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

.bar p {
  font-size: 10pt;
  border-bottom: 2px dotted gray;
  line-height: 1.4;
}

td {
  vertical-align: top;
}
