/* @override http://poi.local/css/map.css */

/**
 * map CSS
 */
.smallmap {
    /*width: 640px;*/
    height: 320px;
    border: 1px solid #ccc;
    background-color: #000;
    /*position: absolute;
    top: 82px;
    left: 292px; // 420px;*/
}

@media only screen and (max-width: 640px) {
	body {
	  /*margin-right: 24px;*/
    /*width: 320px;*/
	}

	#sidebar {
	  /*width: 296px;*/
	  margin: 0px 0px 4px;
	  background-color: #003a6b;
	  padding: 2px 0 2px 2px;
	}

	.smallmap {
	    /*width: 320px;*/
	    height: 212px;
	    border: 1px solid #ccc;
	    background-color: #000;
	    /*position: absolute;
	    top: 82px;
	    left: 292px; // 420px;*/
	}
}

#sidebar {
  /*width: 320px;*/
  margin: 0px 0px 4px;
  background-color: #003a6b;
  padding: 2px 0 2px 2px;
}

#search {
  color: #fff;
  background-color: #003a6b;
  width: 100%;
  line-height: 1.1;
  padding: 0px;
}

.popup {
  font-family: MuseoSans-500, 'Doppio One', sans-serif;
}
