/* @override http://poi.local/css/poi.css */

/*#data {
  background-color: #efebe2;
  border: 8px solid #fff;
}*/

.headline {
  font-size: 135%;
  text-align: center;
/*  border: 2px dotted #797979;*/
  background-color: #fff; /*#f7ecc9;*/
  text-shadow: 1px 1px 0 #ccc;
  padding-bottom: 4px;
  padding-top: 8px;
}

.subhead {
  border-top: 1px dotted #797979;
  border-bottom: 1px dotted #797979;
  text-shadow: 1px 1px 0 white;
  /*padding-right: 8px;*/
  background-color: #e8ddbd; /*#efebe2;*/
  text-shadow: white 1px 1px 0px;
  margin-top: 0;
  font-size: 120%;
}

.poiinfosection {
  /*margin-left: 8px;
  margin-right: 16px;*/
  vertical-align: top;
  background-color: #efebe2;
  text-indent: 8px;
  padding-bottom: 8px;
}

#poiitems {
  background-color: #fff;
  margin-bottom: 0px;
}
#poidescriptions p {
  margin: 4px;
  padding: 2px;
  /*border: 4px groove #efebe2;*/
}

.place {
  font-size: 90%;
  padding-left: 16px;
  text-indent: -8px;
}
.tag .value {
  font-size: 120%;
  font-weight: bold;
  background-color: #e8ddbd; /*#ccf1ff;*/ /*#475a6b;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 2px;
}
.tag {
  font-size: 70%;
  font-style: italic;
  margin-left: 6px;
  /*background-color: #e8ddbd;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  line-height: 1.5;
}

#relatedplaces {
  table-layout: fixed;
  /*margin: 4px;*/
}
.relatedicon {
  width: 32px;
  color: #003A6B;
}
#relatedplaces .place {
  vertical-align: top;
  text-align: right;
  padding-right: 4px;
  padding-bottom: 4px;
  line-height: 1;
}
#relatedplaces .relatedicon {
  text-align: left;
  line-height: 1;
}
#relatedplaces .placeicons {
  text-align: left;
  line-height: 1;
}
#relatedplaces img {
  padding-left: 2px;
  background-color: #acc8e0;
}

/*
 * Flickr photos
 */
.pic {
  text-indent: 0px;
  margin: 6px 6px 6px 0;
  background-color: #333;
  padding: 4px 4px 4px;
  width: 75px;
  display: inline-block;
}
.piccaption {
  color: #ddd;
  font-size: 8pt;
}

#links {
  display: block;
}

.fb-like {
	display: block;
  float: right;
}

#signininfo {
  font-size: 85%;
  font-style: italic;
  text-align: center;
}

.add-poi-info {
  color: #003A6B;
  cursor: pointer;
}