/* @override 
	http://localhost/openpoi/www/css/style.css
	http://poi.local/css/style.css
*/

/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}*/

/**
 * Basic Typography
 */
body {
    font-family: MuseoSans-500,'Doppio One',sans-serif;
    font-style: normal;
    /*font-size: 80%;*/
    color: #222;
    background: #fff;
    /*margin: 1em 1.5em;*/
}

#banner {
  font-family: MuseoSans-500, 'Doppio One', sans-serif;
  color: #fff;
  width: 100%;
  line-height: 1.1;
  background: #003a6b url(../graphics/logo_banner_bluewhite_sm.png) no-repeat;
}

#title {
  font-size: 30pt;
  padding-left: 8px;
}

#sub {
  font-size: 10pt;
  display: block;
  position: relative;
  left: 54px;
  top: -6px;
  width: 248px;
}

@media only screen and (max-width: 640px) {
	body {
      margin: 0px;
	}
}
pre, code {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.5;
}
a[href] {
    color: #436976;
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
    color: #003a6b;
    background-color: transparent;
    margin: 0;
    padding-top: 0.5em;
    font-weight: normal;
}

.question {
  font-size: 115%;
  font-weight: bold;
  margin-top: 1em;
}

.codehl {
  background-color: #FFC;
  font-size: smaller;
}

#login {
  float: right;
}

.footer {
  font-size: 90%;
  background-color: #acc8e0;
  padding: 4px;
  min-height: 1em;
  /*text-align: center;*/
}
#copyright {
  float: right;
}